[submodule "cmake"]
	path = cmake
	url = https://github.com/gergondet/jrl-cmakemodules
[submodule ".jrl-ci"]
	path = .jrl-ci
	url = https://github.com/jrl-umi3218/jrl-travis.git
[submodule ".packaging"]
	path = .packaging
	url = git@gite.lirmm.fr:idh/gitlab-ci-packaging
