*.swp
*.pyc
*~
CMakeLists.txt.user*
*.autosave
*.bin
*.pos
utils/mc_log_gui/*.png
compile_commands.json
.vscode/
utils/build_and_install_user_config.sh
.cache/
build*
binding/nanobind/build/
binding/nanobind/dist/
