exclude: |
  (?x)^(
      3rd-party/.*|
      doc/_i18n/en/tutorials/introduction/multi-robot-controller/p3.py|
      doc/_i18n/jp/tutorials/introduction/multi-robot-controller/p3.py|
      .*.svg
  )$
repos:
- repo: meta
  hooks:
  - id: check-useless-excludes
  - id: check-hooks-apply
- repo: https://github.com/pre-commit/mirrors-clang-format
  rev: v18.1.3
  hooks:
  - id: clang-format
    'types_or': [c++, c]
    exclude: |
      (?x)^(
          doc/_i18n/en/tutorials/advanced/new-robot/robot_module.cpp|
          doc/_i18n/jp/tutorials/advanced/new-robot/robot_module.cpp|
          utils/mc_bin_flatbuffers/.*
      )$
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: check-added-large-files
  - id: check-ast
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-yaml
    exclude: |
      (?x)^(
          src/mc_robots/object_aliases.in.yml|
          src/mc_robots/env_aliases.in.yml|
          doc/_i18n/en/tutorials/advanced/new-robot/env_object.yaml|
          doc/_i18n/jp/tutorials/advanced/new-robot/env_object.yaml|
          doc/_i18n/en/tutorials/advanced/new-robot/json_example.yaml|
          doc/_i18n/jp/tutorials/advanced/new-robot/json_example.yaml|
          src/mc_control/samples/Door/etc/DoorSample.in.yaml|
          src/mc_control/samples/ExternalForces/etc/ExternalForces.in.yaml|
          src/mc_control/samples/LIPMStabilizer/etc/LIPMStabilizer.in.yaml|
          src/mc_control/fsm/states/data/StabilizerStanding.yaml|
          tests/controllers/TestPythonState.in.yaml|
          tests/global_controller_configuration/mc_rtc.in.yaml
      )$
  - id: debug-statements
  - id: destroyed-symlinks
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: mixed-line-ending
  - id: trailing-whitespace
- repo: https://github.com/psf/black
  rev: 24.3.0
  hooks:
  - id: black
    exclude: |
      (?x)^(
          .cmake-format.py|
          utils/mc_log_gui/mc_log_ui/ui/.*
      )$
- repo: https://github.com/PyCQA/flake8
  rev: 7.0.0
  hooks:
  - id: flake8
    args:
      - "--max-line-length=88"
      - "--extend-ignore=E203,E501"
    exclude: |
      (?x)^(
          .cmake-format.py|
          binding/python/.*__init__.py|
          doc/.*.py|
          utils/mc_rtc_new_controller.in.py|
          utils/mc_rtc_new_fsm_controller.in.py|
          utils/mc_log_gui/mc_log_ui/ui/.*
      )$
- repo: https://github.com/cheshirekow/cmake-format-precommit
  rev: v0.6.13
  hooks:
  - id: cmake-format
