body
{
  background: #f8f9fa;
}

.showcase
{
  background: #777777;
  padding-top: 25px;
  margin-bottom: 25px;
}

.showcase h2
{
  color: white;
  text-align: center;
}

.carousel-caption {
  padding-top: 40px;
  position: relative;
  left: auto;
  right: auto;
}

.features
{
  margin-top: 20px;
}

.features h5
{
  font-weight: bold;
}

.list-group.list-group-root {
    padding: 0;
    overflow: hidden;
}

.list-group.list-group-root .list-group {
    margin-bottom: 0;
}

.list-group.list-group-root .list-group-item {
    border-radius: 0;
    border-width: 1px 0 0 0;
}

.list-group.list-group-root > .list-group-item:first-child {
    border-top-width: 0;
}

.list-group.list-group-root > .collapse > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .collapsing > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group.list-group-root > .collapse.show > .list-group > .list-group-item {
    padding-left: 30px;
}

.list-group-item .octicon {
    margin-right: 5px;
}

